<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thunderboltsoft.ringmyphone">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-sdk tools:overrideLibrary="com.kaozgamer.androideasypermissions"/>

    <uses-feature
        android:name="android.hardware.camera.FLASHLIGHT"
        android:required="false" />

    <application
        tools:replace="android:theme"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="com.thunderboltsoft.findmyphone.activites.FMPActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.thunderboltsoft.findmyphone.receivers.PopupBroadcastReceiver" >
            <intent-filter>
                <action android:name="testingkaozgamer"></action>
            </intent-filter>
        </receiver>

        <service
            android:name="com.thunderboltsoft.findmyphone.services.FMPService"
            android:enabled="true" />

        <activity
            android:name="com.thunderboltsoft.findmyphone.activites.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>

        <activity
            android:name="com.thunderboltsoft.findmyphone.activites.FindMyPhoneDialogActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog"></activity>
    </application>

</manifest>